{
    "appeals": [],
    "place": {
        "url": "http://example.com",
        "location": {
            "latitude": 0.0,
            "longitude": 0.0
        }
    },
    "Formats": {
        "voteFormat": "",
        "resultFormat": "",
        "remidFromat": ""
    },
    "noResult": "",
    "weekday": 2,
    "hour": 10,
    "minute": 30,
    "admins": [],
    "god": "",
}
